@model IEnumerable<ProjetGL.Models.Joueur>

@{
    ViewData["Title"] = "Index";
}

<h1>Tous les joueurs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomJoueur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomJoueur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeJoueur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationaliteJoueur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TailleJoueur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosteJoueur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchJouee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartonJaune)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartonRouge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ButJoueur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasseDecisiveJoueur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomJoueur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomJoueur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeJoueur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationaliteJoueur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TailleJoueur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipe.NomEquipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosteJoueur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchJouee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartonJaune)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartonRouge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButJoueur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasseDecisiveJoueur)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
