@model ProjetGL.Models.Equipe

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEquipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcronymeClub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcronymeClub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEntraineur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEntraineur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreVictoire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreVictoire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDefaite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDefaite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreNul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreNul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DifferencedeBut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DifferencedeBut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassementEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassementEquipe)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
